rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access for preflight checks to succeed.
    // Secure write access to ensure only authenticated users can upload.
    match /{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
  }
}
